.container
{
    margin: auto;
    width: 600px;
    border: 1px solid black;
    padding: 5px;
}

.box
{
    width: 200px;
    height: 200px;
}

.satu
{
    background-color: salmon;
    float: left;
}

.dua
{
    background-color: lightskyblue;
    float: left;
}

.tiga
{
    background-color: lightgreen;
    float: right;
}

.color-box
{
    width: 80px;
    height: 80px;
    background-color: salmon;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
    margin: 2px;
    float: left;
}