.container
{
    margin: auto;
    width: 600px;
    border: 1px solid black;
}

.box
{
    width: 200px;
    height: 200px;
}

.satu
{
    background-color: salmon;
    float: left;
}

.dua
{
    background-color: lightskyblue;
    float: left;
}

.tiga
{
    background-color: lightgreen;
    float: right;
}