.container
{
    margin: auto;
    width: 1224px;
    border: 1px solid black;
    padding: 5px;
}

.col
{
    width: 100px;
    height: 200px;
    height: auto;
    background-color: salmon;
    text-align: center;
    line-height: 200px;
    margin: 1px;
    color: white;
    float: left;
}

.container::before,
.container::after
{
    content: "";
    display: block;
}

.container::after
{
    clear: both;
}